<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
</head>
<body>
    <h2>Success</h2>
    
    <p>Carpet category details submitted successfully!</p>
    <button type="button" onclick="window.location.href = '/index'">Back to Home</button>
    
</body>
</html>