<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            background: url("login-background.jpg") fixed no-repeat;
            background-size: cover;
            text-align: center;
            padding: 20px;
        }

        h2 {
            color: #333;
            text-align: center;
        }

        .ylxq {

            margin:0 auto;
            width:500px;
            height:300px;
            position: center;
            background-color: transparent;
            border-radius: 18px;
            overflow: hidden;
            backdrop-filter: blur(50px);
        }
        button {
            padding: 10px 20px;
            background-color: #a2af4c;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="ylxq">
        <h2>Success</h2>

        <p>Carpet item details submitted successfully!</p>
        <button type="button" onclick="window.location.href = '/index'">Back to Home</button>
    </div>
    
</body>
</html>