<!doctype html>
<html>
<head>
    <title>Create Carpet Kit Item</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            padding: 20px;
        }

        h2 {
            color: #333;
            text-align: center;
        }

        form {
            margin-top: 20px;
            text-align: left;
            display: inline-block;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            width: 400px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        input[type="email"],
        input[type="tel"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        input[type="file"] {
            margin-bottom: 20px;
        }

        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        input[type="submit"],
        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }

        input[type="submit"]:hover,
        button:hover {
            background-color: #45a049;
        }

        br {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Create Carpet Kit Item</h1>
    <form action="/carpet-kit-item" method="POST" enctype="multipart/form-data">
        <label for="name">Kit Name:</label><br>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="category">Category:</label><br>
        <select id="category" name="category" disabled>
            <% carpetCategories.forEach(category => { %>
                <% if(category.name === 'Kit') { %>
                    <option value="<%= category._id %>" selected><%= category.name %></option>
                <% } else { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                <% } %>
            <% }) %>
        </select>
        <br><br>
        <label for="length">Length (separated by commas):</label><br>
        <input type="text" id="length" name="length" required>
        <br><br>
        <label for="breadth">Breadth (separated by commas):</label><br>
        <input type="text" id="breadth" name="breadth" required>
        <br><br>
        <label for="weight">Weight (separated by commas):</label><br>
        <input type="text" id="weight" name="weight" required>
        <br><br>
        <label for="dimensions">Dimensions (separated by commas):</label><br>
        <input type="text" id="dimensions" name="dimensions" required>
        <br><br>
        <label for="images">Images:</label><br>
        <input type="file" id="images" name="images" multiple required>
        <br><br>
        <label for="size">Size:</label><br>
        <select id="size" name="size" required>
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
        </select>   
        <br><br>
        <label for="numericSize">Numeric Size:</label><br>
        <input type="number" id="numericSize" name="numericSize" required>
        <br><br>
        <label for="quantity">Quantity:</label><br>
        <input type="number" id="quantity" name="quantity" required>
        <br><br>
        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price" required>
        <br><br>
        <label for="countryOfOrigin">Country of Origin:</label><br>
        <select id="countryOfOrigin" name="countryOfOrigin" required>
            <option value="Australia">Australia</option>
            <option value="China">China</option>
            <option value="Japan">Japan</option>
            <option value="Iran">Iran</option>
            <option value="India">India</option>
        </select>    
        <br><br>
        <button type="submit">Create</button>
        <br><br>
        <button type="button" onclick="window.location.href = '/'">Log Out</button>
    </form>
</body>
</html>
