<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>Error</h2>
    
    <p>Failed to Checkout. Please try again.</p>
    <button type="button" onclick="window.location.href = '/index'">Back to Home</button>
    
</body>
</html>