<!DOCTYPE html>
<html>
<head>
    <title>Zahra's Paradise</title>
</head>
<body>
    <h2>Zahra's Paradise</h2>
    
    <form method="GET" action="/customer">
        <input type="submit" value="Enter Customer Details">
    </form>
    
</body>
</html>