<!DOCTYPE html>
<html>
<head>
    <title>Zahra's Paradise</title>
    <style>
        body {
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            text-align: center;
        }
        
        h2 {
            color: #333;
            font-size: 24px;
        }
        
        form {
            margin-bottom: 10px;
        }
        
        input[type="submit"] {
            background-color: #4caf50;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 16px;
            padding: 10px 20px;
        }
        
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        
        input[type="submit"]:focus {
            outline: none;
        }
    </style>
</head>
<body>
    <h2>Zahra's Paradise</h2>
    <br>
    <form method="GET" action="/customer">
        <input type="submit" value="Enter Customer Details">
    </form>
    <br>
    <form method="GET" action="/carpetCategories">
        <input type="submit" value="Enter Carpet Category Details">
    </form>
    <br>
    <form method="GET" action="/carpetItems">
        <input type="submit" value="Enter Carpet Item Details">
    </form>
    <br>
    <form method="GET" action="/carpetKitItems">
        <input type="submit" value="Enter Carpet Kit Details">
    </form>
    <br>
    <form method="GET" action="/checkout">
        <input type="submit" value="Checkout Page">
    </form>
    <br>
    <form method="GET" action="/salesDashboard">
        <input type="submit" value="Sales Dashboard">
    </form>

    <br>
    <br>
    <form method="GET" action="/logout">
        <input type="submit" value="Log Out">
    </form>
</body>
</html>