<!DOCTYPE html>
<html>
<head>
    <title>Zahra's Paradise</title>
</head>
<body>
    <h2>Zahra's Paradise</h2>
    <br>
    <form method="GET" action="/customer">
        <input type="submit" value="Enter Customer Details">
    </form>
    <br>
    <form method="GET" action="/carpetCategories">
        <input type="submit" value="Enter Carpet Category Details">
    </form>
    <br>
    <form method="GET" action="/carpetItems">
        <input type="submit" value="Enter Carpet Item Details">
    </form>
    <br>
    <form method="GET" action="/carpetKitItems">
        <input type="submit" value="Enter Carpet Kit Details">
    </form>
    <br>
    <form method="GET" action="/checkout">
        <input type="submit" value="Checkout Page">
    </form>
</body>
</html>