<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fail to register</title>
</head>
<body>
<h1>Fail to register</h1>
<p><%= message %></p>

<a href="/register">Back to register</a>
</body>
</html>
