<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Dashboard</title>
    <meta charset="utf-8" />
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
    <style type="text/css">

    </style>
</head>
<body>
<h1 align="center">Sales Dashboard</h1>
<main class="plot">
<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
    <div style="display:flex;justify-content:center;align-items:center;">
<div id="main1" style="width: 600px;height:400px;"></div>
<input id="xAxis" value="{{@xAxis}}" type="hidden" />
<input id="series" value="{{@series}}" type="hidden" />
<div id="main2" style="width: 600px; height: 400px"></div>
<input id="xAxis2" value="{{@xAxis}}" type="hidden" />
<input id="series2" value="{{@series}}" type="hidden" />
    </div>

    <div style="display:flex;justify-content:center;align-items:center;">
        <div id="main3" style="width: 600px;height:400px;"></div>
        <input id="xAxis" value="{{@xAxis}}" type="hidden" />
        <input id="series" value="{{@series}}" type="hidden" />
        <div id="main4" style="width: 600px; height: 400px"></div>
        <input id="xAxis2" value="{{@xAxis}}" type="hidden" />
        <input id="series2" value="{{@series}}" type="hidden" />
    </div>
</main>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main1'));

        // 指定图表的配置项和数据
        var option = {
        title: {
        text: ' Top 5 carpets items (90 days)'
    },
            grid: {
                x: 80,
                y: 60,
                x2: 80,
                y2: 60,
                // width: {totalWidth} - x - x2,
                // height: {totalHeight} - y - y2,
                backgroundColor: 'rgba(0,0,0,0)',
                borderWidth: 1,
                borderColor: '#ccc'
            },
        tooltip: {},
        legend: {
        data: ['销量']
    },
        xAxis: {
        data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
    },
        yAxis: {},
        series: [
    {
        name: '销量',
        type: 'bar',
        data: [5, 20, 36, 10, 10, 20]
    }
        ]

    };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        var myChart2 = echarts.init(document.getElementById('main2'));

        // 指定图表的配置项和数据
        var option2 = {
            title: {
                text: 'Top 5 Carpet Item categories (90 days)'
            },
            grid: {
                x: 80,
                y: 60,
                x2: 80,
                y2: 60,
                // width: {totalWidth} - x - x2,
                // height: {totalHeight} - y - y2,
                backgroundColor: 'rgba(255,255,0,0)',
                borderWidth: 1,
                borderColor: '#ccc'
            },
            tooltip: {},
            legend: {
                data: ['销量']
            },
            xAxis: {
                data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
            },
            yAxis: {},
            series: [
                {
                    name: '销量',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 20]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option2);

        // 基于准备好的dom，初始化echarts实例
        var myChart3 = echarts.init(document.getElementById('main3'));

        // 指定图表的配置项和数据
        var option3 = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data: ['销量']
            },
            xAxis: {
                data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
            },
            yAxis: {},
            series: [
                {
                    name: '销量',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 20]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart3.setOption(option3);
        var myChart4 = echarts.init(document.getElementById('main4'));

        // 指定图表的配置项和数据
        var option4 = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data: ['销量']
            },
            xAxis: {
                data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
            },
            yAxis: {},
            series: [
                {
                    name: '销量',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 20]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart4.setOption(option4);
    </script>
</body>
</html>